<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #ECEDED; margin:0px; background-image: url(http://ifd-templates.org/template/azul.jpg); background-repeat:repeat-x ">
<!--        
        <div align="center" style="width:100%;  height: 197px; background-color: #50748C; text-align: center;">
            <div align="left" style="margin-left: auto; margin-right: auto;width: 758px;">
                <img src="logo.jpg" style="margin-top: 20px;">
                <img src="open.jpg" style="float:right; margin-top: 33px;">
            </div>
        </div>
-->

        <table  cellpadding="0" CELLSPACING="0" align="center" >
            <tr>
                
                <td width="22%" valign="top">
                    <table style="background-color: #50748C; height: 197px; width:100%" cellpadding="0" CELLSPACING="0">
                        <tr><td style="background-color: #50748C; height: 197px; width:100%"></td></tr>
                    </table>
                </td>
                
                <td width="758px" align="center" valign="top">
                    <table align="center" style="background-color: #50748C; width:100%" cellpadding="0" CELLSPACING="0">
                        <tr >
                            <td valign="top" style="background-color: #50748C; height: 87px;">
                                <table style="background-color: #50748C; width:100%; height: 87px;" cellpadding="0" CELLSPACING="0">
                                    <tr>
                                        <td width="50%" style="margin-top: 20px;">
                                            <img src="http://ifd-templates.org/template/logo.jpg" >
                                        </td>
                                        <td width="50%" align="right" style="margin-top: 33px; float:right">
                                            <img src="http://ifd-templates.org/template/open.jpg" >
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr >
                            <td valign="top" align="center" style="background-color: #fff;">
                                <div style="margin-top:14px; font-family: Arial; font-size: 34pt; line-height: 36pt; color:#50748C">Primer Seminario IFD de Presentaciones Relámpago</div>
                                <div style="margin-top:20px; margin-bottom:19px; font-family: Arial; font-size: 18pt; line-height: 20pt; color:#7B6C64">Averigua lo que esta pasando en todo el departamento en solo 90 minutos.</div>
                            </td>
                        </tr>
                        <tr >
                            <td valign="top" align="center" style="background-color: #2D8EC9; height: 54px">
                                <div style="margin-top:19px; margin-bottom:19px;  font-family: Arial; font-size: 22pt;color:#ECEDED; font-weight: 600;">Miercoles</div>
                            </td>
                        </tr>
                    </table>
                </td>
                
                <td width="22%" valign="top">
                    <table style="background-color: #50748C; height: 197px; width:100%" cellpadding="0" CELLSPACING="0">
                        <tr><td style="background-color: #50748C; height: 197px;"></td></tr>
                    </table>
                </td>
            </tr>
            
        </table>
        
    </body>
</html>
