/* 
    Document   : main.css
    Created on : 18/01/2011, 11:34:09
    Author     : dami
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#dv-main-cont {
    height: 100%;
}

